<div class="tw-flex tw-gap-8 tw-h-full">
  <div class="tw-basis-1/4">
    <app-dtf-hat-order-details />
  </div>
  <div class="tw-flex-1 tw-flex tw-flex-col">
    <!-- Scan Input -->
    <div class="tw-flex tw-items-center tw-gap-8">
      <div class="tw-basis-52 tw-text-right">
        <label for="scan-item-input" class="tw-font-semibold tw-text-xl">{{ 'SCAN' | translate }} {{ 'ITEM' | translate }}</label>
      </div>
      <div class="tw-basis-1/2">
        <input
          id="scan-item-input"
          class="tw-max-w-[500px]"
          type="text"
          nz-input
          nzSize="large"
          [formControl]="input"
          (keyup.enter)="onScan()"
          placeholder="{{ 'ITEM' | translate }} #"
          appKeepFocus
          focusOnInitOnly />
      </div>
    </div>
    <!-- Error -->
    @if (store.$error(); as err) {
      <div class="tw-my-3 tw-text-center">
        <span nz-typography nzType="danger" class="tw-text-2xl tw-font-semibold">{{ err.errorKey | translate: err.paramError }}</span>
      </div>
    }
    <div class="tw-flex tw-justify-center tw-mt-10">
      <div class="tw-text-xl">
        <span class="tw-font-bold">{{ 'ITEM_STATUS' | translate }}: </span> <span>{{ $item()!.statusDescription }}</span>
      </div>
    </div>
  </div>
</div>
