/* https://tailwindcss.com/docs/preflight 
 * Disable preflight
 */

@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme) prefix(tw) important;
@import "tailwindcss/utilities.css" layer(utilities) prefix(tw) important;

@utility bg-primary {
  background-color: #164a66;
}

@utility bg-primary-light {
  background-color: #2f6987;
}

@utility slim-scrollbar {
  &::-webkit-scrollbar {
    height: 7px;
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    background: #eee;
    border-radius: 10px;
    -webkit-border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 10px;
    -webkit-border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@utility image-fill {
  position: relative;
  background-color: #eee;
  & > img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
