@layer components {
  .tw-slim-scrollbar {
    &::-webkit-scrollbar {
      height: 7px;
      width: 7px;
    }
    &::-webkit-scrollbar-track {
      background: #eee;
      border-radius: 10px;
      -webkit-border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: #999;
      border-radius: 10px;
      -webkit-border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  .tw-image-fill {
    position: relative;
    background-color: #eee;
    &>img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

