trigger:
  branches:
    include:
      - development
  paths:
    include:
      - apps/jit-receive/**
      - devops/dev/jit-receive/k8s/**

pool: 'NOIS-TaiVo'

variables:
  - group: MDP DEV
  repository: 'mdp-webapp-jit-receive'
  dockerfile: 'apps/jit-receive/Dockerfile'
  k8sPath: 'devops/dev/jit-receive/k8s'
  k8sSvcEndpoint: 'aks-dev'
  oldImageTag: 'dev'
  imageTag: 'dev-$(Build.BuildId)'

steps:
  - task: Docker@2
    inputs:
      containerRegistry: 'md-acr-2023'
      repository: '$(repository)'
      command: 'buildAndPush'
      Dockerfile: '$(dockerfile)'
      buildContext: 'apps/jit-receive'
      tags: '$(imageTag)'

  - powershell: (Get-Content $(k8sPath)/deployment.yaml) -replace '$(repository):$(oldImageTag)', '$(repository):$(imageTag)' | Set-Content $(k8sPath)/deployment.yaml
    displayName: 'Change Template'

  - task: Kubernetes@1
    inputs:
      connectionType: 'Kubernetes Service Connection'
      kubernetesServiceEndpoint: '$(k8sSvcEndpoint)'
      namespace: 'mdp'
      command: 'apply'
      arguments: '-f $(k8sPath)'
      secretType: 'dockerRegistry'
      containerRegistryType: 'Azure Container Registry'
