<div class="tw:flex tw:gap-8 tw:h-full">
  <div class="tw:basis-1/4">
    <div class="tw:flex tw:flex-col tw:justify-between tw:h-full">
      <app-dtf-hat-order-details />
      <app-dtf-hat-preview-image />
    </div>
  </div>
  <div class="tw:flex-1 tw:flex tw:flex-col">
    <div class="tw:flex tw:items-center tw:gap-8">
      <div>
        <label for="scan-transfer-input" class="tw:font-semibold tw:text-xl">{{ 'SCAN' | translate }} {{ 'TRANSFER' | translate }}</label>
      </div>
      <div>
        <input
          id="scan-transfer-input"
          class="tw:w-[400px]"
          type="text"
          nz-input
          nzSize="large"
          [formControl]="input"
          (keyup.enter)="onScan()"
          placeholder="{{ 'TRANSFER' | translate }} #"
          appKeepFocus
          focusOnInitOnly />
      </div>
      <div>
        @if (store.$itemConfirmedType() === EDtfHatAppConfirmType.Accept) {
          <span
            nz-typography
            nzType="success"
            class="tw:font-bold tw:text-2xl"
            [innerHTML]="'DTF_PRINT_ACCEPTED_PROCEED_TO_DTF_ACCESSORY_QA_STATION' | translate"></span>
        } @else {
          <span
            nz-typography
            nzType="danger"
            class="tw:font-bold tw:text-2xl"
            [innerHTML]="'DTF_PRINT_REJECTED_GIVE_TO_DTF_ACCESSORY_QA_LEAD' | translate"></span>
        }
      </div>
    </div>
    <!-- Error -->
    @if (store.$error(); as err) {
      <div class="tw:my-3 tw:text-center">
        <span nz-typography nzType="danger" class="tw:text-2xl tw:font-semibold">{{ err.errorKey | translate: err.paramError }}</span>
      </div>
    }
    <div class="tw:flex tw:justify-center tw:my-10">
      <div class="tw:text-xl">
        <span class="tw:font-bold">{{ 'ITEM_STATUS' | translate }}: </span> <span>{{ $item()!.statusDescription }}</span>
      </div>
    </div>
    <div class="tw:flex-1 tw:image-fill">
      <img [src]="$item()!.previewUrl" class="tw:object-top" appImageErrorUrl />
    </div>
  </div>
</div>
