<div class="tw-flex tw-gap-8 tw-h-full">
  <div class="tw-basis-1/4">
    <app-jit-receive-left-panel />
  </div>
  <div class="tw-flex-1 tw-flex tw-flex-col">
    <!-- Scan Input -->
    <div class="tw-flex tw-items-center tw-gap-8">
      <div class="tw-basis-52 tw-text-right">
        <label for="scan-item-input" class="tw-font-semibold tw-text-xl">{{ 'SCAN' | translate }} {{ 'ITEM' | translate }}</label>
      </div>
      <div class="tw-basis-1/2">
        <input
          id="scan-item-input"
          class="tw-max-w-[500px]"
          type="text"
          nz-input
          nzSize="large"
          [formControl]="input"
          (keyup.enter)="onScan()"
          appKeepFocus
          focusOnInitOnly />
      </div>
    </div>
    <!-- Error -->
    @if (store.error(); as err) {
      <div class="tw-my-3 tw-text-center">
        <span nz-typography nzType="danger" class="tw-text-2xl tw-font-semibold">{{ err.errorKey | translate: err.paramError }}</span>
      </div>
    }

    <!-- Last Item RECEIVED -->
    @if (latestConfirmedPackageUnit()?.isReceived) {
      @if (store.confirmedMsg(); as receivedMsg) {
        <div class="tw-mt-[15%] tw-text-center tw-flex tw-flex-col tw-items-center tw-gap-2">
          <span nz-typography nzType="success" class="tw-font-bold tw-text-5xl tw-leading-normal tw-whitespace-pre-line">{{
            'RECEIPT_CONFIRMED' | translate
          }}</span>
          <span nz-typography nzType="success" class="tw-font-bold tw-text-5xl tw-leading-normal tw-whitespace-pre-line">{{
            receivedMsg.message | translate: receivedMsg.paramSuccess
          }}</span>
          <span nz-typography nzType="success" class="tw-font-bold tw-text-5xl tw-leading-normal tw-whitespace-pre-line">{{
            'SCAN_NEXT_ITEM' | translate
          }}</span>
        </div>
      }
    } @else if (latestConfirmedPackageUnit()?.isMissing) {
      <div class="tw-my-3 tw-text-center">
        <span nz-typography nzType="danger" class="tw-text-xl tw-font-bold">{{ 'THE_MISSING_ITEM_WILL_BE_REORDERED' | translate }}</span>
      </div>
      <div class="tw-flex-1">
        <app-jit-receive-item [item]="store.latestConfirmedPackageUnit()!" />
      </div>
    } @else if (latestConfirmedPackageUnit()?.isDamaged) {
      <div class="tw-my-3 tw-text-center">
        <span nz-typography nzType="danger" class="tw-text-xl tw-font-bold">{{ 'THE_DAMAGED_ITEM_WILL_BE_REORDERED' | translate }}</span>
      </div>
      <div class="tw-flex-1">
        <app-jit-receive-item [item]="store.latestConfirmedPackageUnit()!" />
      </div>
    }
  </div>
</div>
