trigger:
  branches:
    include:
      - development
  paths:
    include:
      - apps/embroidery/**
      - devops/dev/embroidery/k8s/**

pool: 'NOIS-TaiVo'

variables:
  repository: 'mdp-webapp-embroidery'
  dockerfile: 'apps/embroidery/Dockerfile'
  k8sPath: 'devops/dev/embroidery/k8s'
  k8sSvcEndpoint: 'aks-dev'
  oldImageTag: 'dev'
  imageTag: 'dev-$(Build.BuildId)'

steps:
  - powershell: |
      $versionFilePath = 'apps/embroidery/src/version.txt'
      $(Build.BuildId) | Out-File -FilePath $versionFilePath -Encoding utf8 -NoNewline
      Write-Host "Created version.txt with build ID: $(Build.BuildId)"
    displayName: 'Create version.txt file'

  - task: Docker@2
    inputs:
      containerRegistry: 'md-acr-2023'
      repository: '$(repository)'
      command: 'buildAndPush'
      Dockerfile: '$(dockerfile)'
      buildContext: 'apps/embroidery'
      tags: '$(imageTag)'

  - powershell: (Get-Content $(k8sPath)/deployment.yaml) -replace '$(repository):$(oldImageTag)', '$(repository):$(imageTag)' | Set-Content $(k8sPath)/deployment.yaml
    displayName: 'Change Template'

  - task: Kubernetes@1
    inputs:
      connectionType: 'Kubernetes Service Connection'
      kubernetesServiceEndpoint: '$(k8sSvcEndpoint)'
      namespace: 'mdp'
      command: 'apply'
      arguments: '-f $(k8sPath)'
      secretType: 'dockerRegistry'
      containerRegistryType: 'Azure Container Registry'
