trigger:
  branches:
    include:
      - main
  paths:
    include:
      - apps/mug-transfer/**
      - devops/prod/mug-transfer/k8s/**

pool: 'NOIS-TaiVo'

variables:
  - group: MDP PROD
  repository: 'mdp-webapp-mug-transfer'
  dockerfile: 'apps/mug-transfer/Dockerfile'
  k8sPath: 'devops/prod/mug-transfer/k8s'
  k8sSvcEndpoint: 'aks-prod'
  oldImageTag: 'prod'
  imageTag: 'prod-$(Build.BuildId)'

steps:
  - task: Docker@2
    inputs:
      containerRegistry: 'md-acr-2023'
      repository: '$(repository)'
      command: 'buildAndPush'
      Dockerfile: '$(dockerfile)'
      buildContext: 'apps/mug-transfer'
      tags: '$(imageTag)'

  - powershell: (Get-Content $(k8sPath)/deployment.yaml) -replace '$(repository):$(oldImageTag)', '$(repository):$(imageTag)' | Set-Content $(k8sPath)/deployment.yaml
    displayName: 'Change Template'

  - task: Kubernetes@1
    inputs:
      connectionType: 'Kubernetes Service Connection'
      kubernetesServiceEndpoint: '$(k8sSvcEndpoint)'
      namespace: 'mdp'
      command: 'apply'
      arguments: '-f $(k8sPath)'
      secretType: 'dockerRegistry'
      containerRegistryType: 'Azure Container Registry'
